.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff;
  overflow-x: auto;
  white-space: nowrap;
}

.category {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  min-width: 100px;
  flex-shrink: 0;
}

.category:hover {
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

.category img {
  height: 50px;
}

.category p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

@media (max-width: 768px) {
  .menu {
    justify-content: flex-start;
    gap: 5px;
    padding: 5px 10px;
    overflow-x: scroll;
  }

  .category {
    padding: 5px;
    min-width: auto;
    font-size: 12px;
  }

  .category img {
    height: 40px;
  }

  .category p {
    margin-top: 3px;
    font-size: 12px;
  }
}
